<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ERPConexion" connectionString="metadata=res://*/ERPModel.csdl|res://*/ERPModel.ssdl|res://*/ERPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=uredi-server-krezca-dev.database.windows.net,1433;initial catalog=UREDI-DB-KREZCA-DEV;persist security info=True;user id=uredi-server-admin-dev;password=u#R3d13R#P;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>